/*Start Global Rulez*/

*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: Arial, Tahoma;
}


/*End Global Rulez*/

div{
	width: 800px;
	margin: 30px auto;
}

div canvas{
	border: 5px solid red;
	background-color: green;
    margin: 30px 40%;
}